

.carrito{ background-color:darkgray ;
        width: 500px;
        height: auto;
        position: absolute;
        z-index: 7;
        margin-top: 570px;
        max-height: 500px;
        overflow: scroll;
        overflow-x: hidden;
        border-radius: 10px;
        scrollbar-color: red red;
        
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3), 5px 0 5px rgba(0, 0, 0, 0.3);
        
        

       
    
    
       .carritocontainer{width: 100%;
                         height: 10%;
                         display: flex;
                         border-bottom: 2px solid dimgray;
                         background-color: #000000;
                         
                         
                         
                         
                     





                        .foto_carrito{width: 50px;
                                     height: 50px;
            
            
            
            
                                    }
                        .cantidad{margin-left: 10px;
                                  margin-top: 10px;
                                  color: green;
                                  font-size: 20px;
                        }
                        
                        .nombre_carrito{margin-left: 2%;
                                        font-size: 20px;
                                        margin-top: 14px;
                                        color: green;
                        }
                        .precio_carrito{margin-left: 5%;
                                        font-size: 23px;
                                        margin-top: 5px;
                                        color: green;
                        }

                         .botonsito{height: 20px;
                                    width: 20px;
                                    margin-top: 17px;
                                    margin-left: 10px;
                                    background-image: url("../imagenes/ok.jfif");
                                    background-size: contain;

                                    
                                    
                        }

                        


}
.barra_opciones_carrito{
        z-index: 2;
        bottom: 300px;
        
        width: 500px;
        height: 50px;
        background-color: #4F4F4F;
        display: flex;
        position: sticky;
        bottom: 0;
        
        
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        
        
        
        .vaciar_carrito{height: 45px;
                        width: 45px;
                        background-image: url("../imagenes/tacho.png");
                        background-size: contain;
                        border-radius: 7px;
                        margin-left: 2%;
                        margin-top: 2px;
                        
                }

        .precioconjuntodiv{height: 45px;
                           width: 45px;
                           border-radius: 7px;
                           padding-left: 5%;
                           


                           .preciototal{color: black;
                                        font-size: 30px;
                        }
        }  

        .boton_de_salir{height:45px;
                        width: 45px;
                        background-image: url("../imagenes/salir.png");
                        background-size: cover;
                        border-radius: 7px;
                        margin-left: 2%;
                        margin-top: 2px;
                        

        }

        .confirmar_compra{height: 45px;
                          width: 45px;
                          background-image: url("../imagenes/tik.jpg");
                          background-size: contain;
                          border-radius: 7px;
                          margin-top: 2px;
                          margin-left: 2%;
                          
                          


        }
}
}

footer{width: 100%;
       background-color: #4F4F4F;
       position: relative;
       bottom: 0;


}


@media only screen and(max-width:706px){

        .carrito{width: 400px;
        



           .carritocontainer{      
               
           
                .nombre_carrito{font-size: 16px;}
                .cantidad{font-size: 16px;
                         
                }
        
        }}




}
@media only screen and(max-width:406px){

        .carrito{width: 300px;
        



           .carritocontainer{      
                .foto_carrito{width: 40px;
                              height: 40px;}
                .precio_carrito{font-size: 13px;
                                margin-top: 14px;
                }
                .nombre_carrito{font-size: 13px;}
                .cantidad{font-size: 10px;
                        margin-top: 16px;
                         
                }
        
        }

        .barra_opciones_carrito{
                   

                .confirmar_compra{height: 30px;
                                  width: 30px;
                                  margin-top: 10px;
                }
                .boton_de_salir{height: 30px;
                        margin-top: 10px;
                        width: 30px;}
                .vaciar_carrito{height: 30px;
                        margin-top: 10px;
                        width: 30px;}

                .precioconjuntodiv{height: 35px;
                        width: 35px;
                        border-radius: 7px;
                        padding-left: 5%;
                        margin-top: 10px;
                        
        
        
                        .preciototal{color: black;
                                     font-size: 20px;
                     }}}


}

}



@media only screen and(max-height:650px){
        .carrito{margin-top: 480px;
                height: 490px;
        }







}