body{background-color: #EEEEEE;}

.t{
  padding-left: 15%;
  height: auto;
  background-color: #343434;
  
  
  
  .titpad{
  

  .titulop{padding: 10px;
          font-family: 'Orbitron', sans-serif;
          text-align: center;
          animation: asoc 2s;
          width: 78%;
          border-bottom: 3px solid #343434;
          color: green;
}
  }

}
.globaldos{width: 100%;
        margin-top: -10px;
        height: 1000px;
        display: flex;
        background-color: #EEEEEE;
        background-image: url("../imagenes/fondo_titulo.png");
        background-attachment: fixed;
        background-size: cover;



           



.imgProdCost{height: 70%;
                width: 20%;
                margin-left: 12%;
                border-radius: 20px;
                margin-top: 60px;
        }





.productos{padding-top: 0%;
           margin-left: 5%;
           margin-top: 60px;
           display: flex;
           flex-wrap: wrap;
           width: 50%;
           animation: asoc 1s;
           margin-bottom: 10%;
           height: 700px;
           overflow: auto;
           
           
          
         
           


         
         .productI{ height: 50%;
                    width: 250px;
                    animation: asoc 1s;
                    background-color: white;
                    margin-bottom: 2%;
                    margin: 20px;
                    border-radius: 20px;
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3), 5px 0 5px rgba(0, 0, 0, 0.3);
                    transition-duration: 0.5s;
                    
                    





                 .foto{width: 100%;
                       height: 200px;
                       border-bottom:1px solid #E1E1E1 ;
                       animation: asoc 1s;
                       border-top-left-radius: 20px;
                       border-top-right-radius: 20px;
                       background-color: none;
                       
                    }
                 .titulo_producto{margin-left: 3%;
                                  font-size: 20px;
                }
                 .precio{margin-left:3%;
                         font-size: 20px;
                         animation: asoc 1.5s;
                        color: green;}

                .unidad{width: 100%;
                        margin-left: 3%;
                        
                }

                .carroappend{width: 100%;
                            margin-top: 10px;
                            height: 40px;
                            animation: asoc 1.5s;
                            border-bottom-right-radius: 15px;
                            border-bottom-left-radius: 15px;
                            padding-bottom: 10px;
                            padding-left: 10px;
                            padding-right: 10px;
                            border: none !important;
                            background: url("../imagenes/carro1.png");
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-color: #343434;
                            
                            
                            
           
                    
                    }
                

                           }
}

}

@keyframes asoc{
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


 .productI:hover{margin-top: 0%;
                 border: 3px solid #343434;
                 
}


@media only screen and(max-width:1581px){
    
    .globaldos{ 
        .imgProdCost{width: 30%;
                     margin-left: 12%;
        }
}


}
@media only screen and(max-width:1200px){

        .globaldos{ 
                .imgProdCost{width: 30%;
                             margin-left: 5%;

                }

                .productos{width: 100%;}
        }
        
        

}

@media only screen and(max-width:988px){


        .globaldos{ 
                .imgProdCost{display: none;

                }

                .productos{width: 100%;
                        padding-left: 10%;
                           
                }
        }
        

}

@media only screen and(max-width:835px){
        
        .globaldos{justify-items: center; 
                .imgProdCost{display: none;

                }

                .productos{width: 100%;
                           padding-left: 7%;
                        
                           
                }
        }
        


}

@media only screen and(max-width:800px){
        .globaldos{justify-items: center; 
                .imgProdCost{display: none;

                }

                .productos{width: 80%;
                           padding-left: 9%;
                        
                           .productI{width: 100%;}
                }
        }
        

  



}

@media only screen and(max-width:500px){
       


        .globaldos{justify-items: center; 
                .imgProdCost{display: none;

                }

                .productos{width: 100%;
                           padding-left: 0%;
                          

                           .productI{width: 100%;}
                           
                }
        }


}